{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} My Shop {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <div id="header">
            <div class="container">
                <div class="logo">
                    <a href="{% url 'shop:product_list' %}">My Shop</a>
                </div>
                <div class="cart">
                    {% with total_items=cart|length  %}
                    {% if cart|length > 0 %} 
                        Your cart : <a href="{% url 'cart:cart_detail' %}">{{total_items}} item{{total_items|pluralize}},${{cart.get_total_price}}</a>
                    {% else %}
                        Your cart is empty
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <!--end of header id-->
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <div class="container">
                <p>All rights reserved to <a href="https://cbsetoday.com" target="_blank">cbsetoday.com</a></p>
            </div>
        </div>
    </body>

</html>